/* /Shared/Components/Carousel.razor.rz.scp.css */
.carousel-container[b-wdhm4luc81] {
  position: relative;
  margin: auto;
  background-color: var(--color-black-light-2x);
  max-width: 100%;
}
.carousel-container > img[b-wdhm4luc81] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: center;
  height: inherit;
  max-width: 100%;
}
.carousel-container > [class*=move-][b-wdhm4luc81] {
  position: absolute;
  top: calc(50% - (var(--size-md) + var(--size-x-lg)) / 2);
  font-size: var(--size-x-lg);
  padding: var(--size-md);
  cursor: pointer;
  transition: 0.6s ease;
  user-select: none;
  color: var(--color-gray);
}
.carousel-container > [class*=move-]:hover[b-wdhm4luc81] {
  cursor: pointer;
  background-color: var(--color-gray-transparent);
}
.carousel-container > .move-next[b-wdhm4luc81] {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.carousel-container > .move-previous[b-wdhm4luc81] {
  left: 0;
  border-radius: 0 3px 3px 0;
}
.carousel-container > .circle-container[b-wdhm4luc81] {
  position: absolute;
  bottom: 0;
  width: 25%;
  display: flex;
  left: 37.5%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--size-md) 0 var(--size-md) 0;
}
.carousel-container > .circle-container > .fa-circle[b-wdhm4luc81] {
  color: var(--color-gray);
  font-size: 0.75em;
  cursor: pointer;
  transition: color 0.6s ease;
}
.carousel-container > .circle-container > .fa-circle:hover[b-wdhm4luc81] {
  color: var(--color-gray-dark);
}
.carousel-container > .circle-container > .fa-circle.selected[b-wdhm4luc81] {
  font-size: 1em;
  color: var(--color-gray-dark);
}
.carousel-container > .circle-container > .fa-circle.selected:hover[b-wdhm4luc81] {
  color: var(--color-gray-dark-2x);
}
/* /Shared/Components/LanguageSelector.razor.rz.scp.css */
.language-icon[b-r2x4fguj9u] {
  height: var(--size-lg);
  padding: var(--size-md);
}
/* /Shared/Components/NavBar.razor.rz.scp.css */
.navbar-container[b-0hu58fpzek] {
  z-index: 1;
  position: absolute;
  width: 100%;
  min-height: var(--size-xx-lg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 1s ease 0s;
}
.navbar-container > .logo[b-0hu58fpzek] {
  padding: var(--size-lg);
  font-size: x-large;
}
.navbar-container > .links[b-0hu58fpzek] {
  display: flex;
  flex-direction: row;
  gap: var(--size-x-lg);
  text-shadow: 0.02em 0 var(--color-primary-dark), 0 0.02em var(--color-primary-dark);
}
.navbar-container > .links > a:first-child[b-0hu58fpzek] {
  display: none;
}
.navbar-container > .language-selector-container[b-0hu58fpzek] {
  padding: var(--size-md);
}
.navbar-container > .hamburger[b-0hu58fpzek] {
  display: none;
  width: var(--size-lg);
  height: var(--size-lg);
  padding: var(--size-lg);
  font-size: xx-large;
}
.navbar-container > .hamburger:hover[b-0hu58fpzek] {
  cursor: pointer;
}

@media (max-width: 700px) {
  .navbar-container[b-0hu58fpzek] {
    justify-content: flex-end;
  }
  .navbar-container > .logo[b-0hu58fpzek] {
    display: none;
  }
  .navbar-container > .links[b-0hu58fpzek] {
    display: none;
    flex-direction: column;
  }
  .navbar-container > .language-selector-container[b-0hu58fpzek] {
    display: none;
  }
  .navbar-container > .hamburger[b-0hu58fpzek] {
    display: block;
  }
  .navbar-container.expanded[b-0hu58fpzek] {
    justify-content: space-between;
  }
  .navbar-container.expanded > .logo[b-0hu58fpzek] {
    display: none;
  }
  .navbar-container.expanded > .links[b-0hu58fpzek] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-black-light-2x);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--size-lg);
  }
  .navbar-container.expanded > .links > a:first-child[b-0hu58fpzek] {
    display: inline-block;
  }
  .navbar-container.expanded > .language-selector-container[b-0hu58fpzek] {
    display: block;
  }
  .navbar-container.expanded > .hamburger[b-0hu58fpzek] {
    z-index: 1;
  }
}
/* /Shared/Components/Select.razor.rz.scp.css */
.select-container[b-mhkx04khao] {
  position: relative;
}
.select-container > .select:hover[b-mhkx04khao] {
  background-color: var(--color-black-light);
  cursor: pointer;
}
.select-container > .options-container[b-mhkx04khao] {
  position: absolute;
  display: none;
  z-index: 1;
  height: 0;
}
.select-container > .options-container > .option[b-mhkx04khao] {
  background-color: var(--color-black-light);
}
.select-container > .options-container > .option:hover[b-mhkx04khao] {
  cursor: pointer;
  background-color: var(--color-black-light-2x);
}
.select-container.expanded[b-mhkx04khao] {
  background-color: var(--color-black-light);
}
.select-container.expanded > .options-container[b-mhkx04khao] {
  height: initial;
  display: block;
}
/* /Shared/MainLayout.razor.rz.scp.css */
