/* /Pages/Index.razor.rz.scp.css */
.intro[b-2sbfutiag3] {
  padding: 0 var(--size-md) 0 var(--size-md);
}

.latest-product-container[b-2sbfutiag3] {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: var(--size-md);
}
.latest-product-container .latest-product[b-2sbfutiag3] {
  width: 33%;
}
.latest-product-container h1[b-2sbfutiag3], .latest-product-container h2[b-2sbfutiag3], .latest-product-container h3[b-2sbfutiag3], .latest-product-container h4[b-2sbfutiag3], .latest-product-container h5[b-2sbfutiag3], .latest-product-container h6[b-2sbfutiag3] {
  margin-block-start: 0;
  margin-block-end: 1.33em;
}
/* /Shared/Components/Carousel.razor.rz.scp.css */
:root[b-wdhm4luc81] {
  --size-xx-s: 2px;
  --size-x-s: 4px;
  --size-s: 8px;
  --size-md: 16px;
  --size-lg: 32px;
  --size-x-lg: 64px;
  --size-xx-lg: 128px;
  --size-phone: 700px;
}

.carousel-container[b-wdhm4luc81] {
  position: relative;
  margin: auto;
  background-color: var(--color-black-light-2x);
  max-width: 100%;
}
.carousel-container > img[b-wdhm4luc81] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: center;
  height: inherit;
  max-width: 100%;
}
.carousel-container > [class*=move-][b-wdhm4luc81] {
  position: absolute;
  top: calc(50% - (var(--size-md) + var(--size-x-lg)) / 2);
  font-size: var(--size-x-lg);
  padding: var(--size-md);
  cursor: pointer;
  transition: 0.6s ease;
  user-select: none;
  color: var(--color-gray);
}
.carousel-container > [class*=move-]:hover[b-wdhm4luc81] {
  cursor: pointer;
  background-color: var(--color-gray-transparent);
}
.carousel-container > .move-next[b-wdhm4luc81] {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.carousel-container > .move-previous[b-wdhm4luc81] {
  left: 0;
  border-radius: 0 3px 3px 0;
}
.carousel-container > .circle-container[b-wdhm4luc81] {
  position: absolute;
  bottom: 0;
  width: 25%;
  left: 37.5%;
  padding: var(--size-md) 0 var(--size-md) 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.carousel-container > .circle-container > .fa-circle[b-wdhm4luc81] {
  color: var(--color-gray);
  font-size: var(--size-sm);
  cursor: pointer;
  transition: color 0.6s ease;
}
.carousel-container > .circle-container > .fa-circle:hover[b-wdhm4luc81] {
  color: var(--color-gray-dark);
}
.carousel-container > .circle-container > .fa-circle.selected[b-wdhm4luc81] {
  color: var(--color-primary);
}
.carousel-container > .circle-container > .fa-circle.selected:hover[b-wdhm4luc81] {
  color: var(--color-primary-dark-2x);
}

@media (max-width: 700px) {
  .carousel-container > .circle-container[b-wdhm4luc81] {
    width: 50%;
    left: 25%;
  }
  .carousel-container > [class*=move-]:hover[b-wdhm4luc81] {
    background-color: unset;
  }
}
/* /Shared/Components/LanguageSelector.razor.rz.scp.css */
.language-icon[b-r2x4fguj9u] {
  height: var(--size-lg);
  padding: var(--size-md);
}
/* /Shared/Components/NavBar.razor.rz.scp.css */
:root[b-0hu58fpzek] {
  --size-xx-s: 2px;
  --size-x-s: 4px;
  --size-s: 8px;
  --size-md: 16px;
  --size-lg: 32px;
  --size-x-lg: 64px;
  --size-xx-lg: 128px;
  --size-phone: 700px;
}

.navbar-container[b-0hu58fpzek] {
  z-index: 1;
  position: absolute;
  width: 100%;
  min-height: var(--size-xx-lg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 1s ease 0s;
}
.navbar-container > .logo[b-0hu58fpzek] {
  padding: var(--size-lg);
  font-size: x-large;
}
.navbar-container > .links[b-0hu58fpzek] {
  display: flex;
  flex-direction: row;
  gap: var(--size-x-lg);
  text-shadow: 0.02em 0 var(--color-primary-dark), 0 0.02em var(--color-primary-dark);
}
.navbar-container > .links > a:first-child[b-0hu58fpzek] {
  display: none;
}
.navbar-container > .language-selector-container[b-0hu58fpzek] {
  padding: var(--size-md);
}
.navbar-container > .hamburger[b-0hu58fpzek] {
  display: none;
  width: var(--size-lg);
  height: var(--size-lg);
  padding: var(--size-lg);
  font-size: xx-large;
  color: var(--color-primary);
}
.navbar-container > .hamburger:hover[b-0hu58fpzek] {
  cursor: pointer;
}

@media (max-width: 700px) {
  .navbar-container[b-0hu58fpzek] {
    justify-content: flex-end;
  }
  .navbar-container > .logo[b-0hu58fpzek] {
    display: none;
  }
  .navbar-container > .links[b-0hu58fpzek] {
    display: none;
    flex-direction: column;
  }
  .navbar-container > .language-selector-container[b-0hu58fpzek] {
    display: none;
  }
  .navbar-container > .hamburger[b-0hu58fpzek] {
    display: block;
  }
  .navbar-container.expanded[b-0hu58fpzek] {
    justify-content: space-between;
  }
  .navbar-container.expanded > .links[b-0hu58fpzek] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-black-light-2x);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--size-lg);
  }
  .navbar-container.expanded > .links > a:first-child[b-0hu58fpzek] {
    display: inline-block;
  }
  .navbar-container.expanded > .language-selector-container[b-0hu58fpzek] {
    display: block;
  }
  .navbar-container.expanded > .hamburger[b-0hu58fpzek] {
    z-index: 1;
  }
}
/* /Shared/Components/Polaroid.razor.rz.scp.css */
.polaroid-container[b-vgtug7kxoz] {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.polaroid-container > img[b-vgtug7kxoz] {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.polaroid-container > .footer[b-vgtug7kxoz] {
  padding: var(--size-md);
  background-color: var(--color-black-light-2x);
}
/* /Shared/Components/Select.razor.rz.scp.css */
:root[b-mhkx04khao] {
  --size-xx-s: 2px;
  --size-x-s: 4px;
  --size-s: 8px;
  --size-md: 16px;
  --size-lg: 32px;
  --size-x-lg: 64px;
  --size-xx-lg: 128px;
  --size-phone: 700px;
}

.select-container[b-mhkx04khao] {
  position: relative;
}
.select-container > .select:hover[b-mhkx04khao] {
  background-color: var(--color-black-light);
  cursor: pointer;
}
.select-container > .options-container[b-mhkx04khao] {
  position: absolute;
  display: none;
  z-index: 1;
  height: 0;
}
.select-container > .options-container > .option[b-mhkx04khao] {
  background-color: var(--color-black-light);
}
.select-container > .options-container > .option:hover[b-mhkx04khao] {
  cursor: pointer;
  background-color: var(--color-black-light-2x);
}
.select-container.expanded[b-mhkx04khao] {
  background-color: var(--color-black-light);
}
.select-container.expanded > .options-container[b-mhkx04khao] {
  height: initial;
  display: block;
}

@media (max-width: 700px) {
  .select-container > .select:hover[b-mhkx04khao] {
    background-color: unset;
  }
  .select-container > .options-container > .option:hover[b-mhkx04khao] {
    background-color: unset;
  }
}
/* /Shared/MainLayout.razor.rz.scp.css */
