.intro {
    padding: 0 var(--size-md) 0 var(--size-md)
}

.latest-product-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: var(--size-md);

    .latest-product{
        width: 33%;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-block-start: 0;
        margin-block-end: 1.33em;
    }
}