@page "/"
@using ZwiepsHaakHoek.Models.Contentful
@using System.Linq

<PageTitle>Zieps Haak Hoek</PageTitle>

@if(CFIndex is not null)
{
    <Carousel 
        Images="() => CFIndex.Images.Select<Asset, CarouselImage>(x => new CarouselImage{ Url = x.File.Url, Alt = x.Description }).ToArray()"
        MaxPixelHeight="500"
    />

    @((MarkupString)IntroHTML);
}
else
{
    <span>Loading page content...</span>
}