.intro {
    padding: 0 var(--size-md) 0 var(--size-md)
}

.latest-product {
    display: flex;
    justify-content: center;
    width: 33%;
    height: 300px;

    h1, h2, h3, h4, h5, h6 {
        margin-block-start: 0;
        margin-block-end: 1.33em;
    }
}