@page "/"
@using ZwiepsHaakHoek.Models.Contentful
@using System.Linq

<PageTitle>Zieps Haak Hoek</PageTitle>

@if(CFIndex is not null)
{
    <Carousel 
        Images="() => CFIndex.Images.Select<Asset, Image>(x => new Image{ Url = x.File.Url, Alt = x.Description }).ToArray()"
        MaxPixelHeight="500" Interval="5000"
    />

    <div class="intro">
        @((MarkupString)IntroHTML)
    </div>
}
else
{
    <span>@Interpreter["LoadingPageContent"]</span>
}