@import "FontAwesome/fontawesome.scss";
@import "FontAwesome/solid.scss";
@import "_Colors.scss";
@import "_Dimensions.scss";
@import "Animations/_Animations.scss";

@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    src: url('../wwwroot/Roboto-Regular.ttf') format('truetype');
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-black);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--color-white);

    h1, h2, h3, h4, h5, h6 {
        color: var(--color-primary);
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.6em;
    }

    h4 {
        font-size: 1.4em;
    }

    h5 {
        font-size: 1.2em;
    }

    h6 {
        font-size: 1em;
    }

    a {
        text-decoration: none;
        color: var(--color-primary-light);

        &:hover {
            color: var(--color-primary-light-2x);
        }
    }

    circle, path {
        stroke: var(--color-primary);
        fill: var(--color-primary);
    }

    > #app {
        width: inherit;
        min-height: inherit;

        > .initial-loading-screen {
            width: inherit;
            min-height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            > #logo {
                width: 50vw;
                height: 50vh;
            }
        }
    }
}