.carousel-container {
    position: relative;
    margin: auto;
    background-color: var(--color-black-light-2x);
    max-width: 100%;

    > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        object-position: center;
        height: inherit;
        max-width: 100%;
    }

    > [class*="move-"] {
        position: absolute;
        top: calc(50% - ((var(--size-md) + var(--size-x-lg)) / 2));
        font-size: var(--size-x-lg);
        padding: var(--size-md);
        cursor: pointer;
        transition: 0.6s ease;
        user-select: none;
        color: var(--color-gray);

        &:hover {
            cursor: pointer;
            background-color: var(--color-gray-transparent);
        }
    }

    > .move-next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    > .move-previous {
        left: 0;
        border-radius: 0 3px 3px 0;
    }

    > .circle-container {
        $CONTAINER_WIDTH: 25%;
        position: absolute;
        bottom: 0;
        width: $CONTAINER_WIDTH;
        display: flex;
        left: calc(50% - $CONTAINER_WIDTH / 2);
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: var(--size-md) 0 var(--size-md) 0;

        > .fa-circle {
            color: var(--color-gray);
            font-size: .75em;
            cursor: pointer;
            transition: color 0.6s ease;

            &:hover {
                color: var(--color-gray-dark);
            }

            &.selected {
                font-size: 1em;
                color: var(--color-gray-dark);

                &:hover {
                    color: var(--color-gray-dark-2x)
                }
            }
        }
    }
}
