<div class="carousel-container" style="height: @($"{MaxPixelHeight}px");">
    <img src="@Images.Invoke()[_index].Url" onload="let classes=['fade', 'duration-long']; this.classList.remove(...classes); this.offsetWidth; this.classList.add(...classes);" alt="@Images.Invoke()[_index].Alt"/>
    <i class="fa-solid fa-angle-left move-previous" @onclick="MovePrevious"/>
    <i class="fa-solid fa-angle-right move-next" @onclick="MoveNext"/>

    <div class="circle-container">
        @foreach (Image image in Images.Invoke())
        {
            <i class="fa-solid fa-circle@(image == Images.Invoke()[_index] ? " selected" : null)" @onclick="() => _index = Array.IndexOf(Images.Invoke(), image)"/>
        }
    </div>
</div>