@import "../../Styles/_Dimensions.scss";
@import "../../Styles/_VendorPrefixes.scss";

.carousel-container {
    position: relative;
    margin: auto;
    background-color: var(--color-black-light-2x);
    max-width: 100%;

    > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        @include object-fit(cover);
        @include object-position(center);
        height: inherit;
        max-width: 100%;
    }

    > [class*="move-"] {
        position: absolute;
        top: calc(50% - ((var(--size-md) + var(--size-x-lg)) / 2));
        font-size: var(--size-x-lg);
        padding: var(--size-md);
        cursor: pointer;
        @include transition(0.6s ease);
        @include user-select(none);
        color: var(--color-gray);

        &:hover {
            cursor: pointer;
            background-color: var(--color-gray-transparent);
        }
    }

    > .move-next {
        right: 0;
        @include border-radius(3px 0 0 3px);
    }

    > .move-previous {
        left: 0;
        @include border-radius(0 3px 3px 0);
    }

    > .circle-container {
        $CONTAINER_WIDTH: 25%;
        position: absolute;
        bottom: 0;
        width: $CONTAINER_WIDTH;
        left: calc(50% - $CONTAINER_WIDTH / 2);
        padding: var(--size-md) 0 var(--size-md) 0;
        display: flex;
        @include justify-content(space-evenly);
        @include align-items(center);
        @include flex-wrap(wrap);

        > .fa-circle {
            width: unset;
            height: unset;
            padding: unset;
            color: var(--color-gray);
            font-size: var(--size-sm);
            cursor: pointer;
            @include transition(color 0.6s ease);

            &:hover {
                color: var(--color-gray-dark);
            }

            &.selected {
                color: var(--color-primary);

                &:hover {
                    color: var(--color-primary-dark-2x)
                }
            }
        }
    }
}

@media (max-width: map-get($dimensions, 'phone')) {
    .carousel-container {

        > .circle-container {
            $CONTAINER_WIDTH: 50%;
            width: $CONTAINER_WIDTH;
            left: calc(50% - $CONTAINER_WIDTH / 2);
        }

        > [class*="move-"] {

            &:hover {
                background-color: unset;
            }
        }
    }
}
