@import '../../Styles/_Dimensions.scss';


.info-message-container {
    display: flex;
    width: inherit;
    min-height: inherit;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: var(--size-s);
    z-index: 100;

    > .loading-text {
    }

    > .crochet-ball-svg {
        width: var(--size-x-lg);
        height: var(--size-x-lg);
    }
}


@media (max-width: map-get($dimensions, 'phone')) {

    .info-message-container {
        flex-direction: column;
        gap: var(--size-x-lg);

        > #loading-text {
        }

        > #crochet-ball-svg {
        }
    }
}