:root {
  --size-xx-s: 2px;
  --size-x-s: 4px;
  --size-s: 8px;
  --size-md: 16px;
  --size-lg: 32px;
  --size-x-lg: 64px;
  --size-xx-lg: 128px;
  --size-phone: 700px;
  --size-tablet: 1000px;
}

.navbar-container {
  z-index: 1;
  position: absolute;
  width: 100%;
  min-height: var(--size-xx-lg);
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: transparent;
}
.navbar-container > .logo {
  padding: var(--size-md);
  width: var(--size-xx-lg);
  height: var(--size-xx-lg);
}
.navbar-container > .logo > svg {
  width: inherit;
  height: inherit;
}
.navbar-container > .links-container {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  gap: var(--size-x-lg);
  text-shadow: 0.02em 0 var(--color-black), 0 0.02em var(--color-black);
}
.navbar-container > .links-container > a {
  position: relative;
  padding: var(--size-s);
  white-space: nowrap;
}
.navbar-container > .links-container > a:first-child {
  display: none;
}
.navbar-container > .links-container > a::before, .navbar-container > .links-container > a::after {
  content: "";
  height: var(--size-md);
  width: var(--size-md);
  position: absolute;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.navbar-container > .links-container > a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid var(--color-primary);
  border-right: 3px solid var(--color-primary-dark);
  -moz-transform: translate(-100%, 50%);
  -ms-transform: translate(-100%, 50%);
  -o-transform: translate(-100%, 50%);
  -webkit-transform: translate(-100%, 50%);
  transform: translate(-100%, 50%);
}
.navbar-container > .links-container > a::after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid var(--color-primary-dark);
  border-left: 3px solid var(--color-primary);
  -moz-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  -o-transform: translate(100%, -50%);
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
}
.navbar-container > .language-selector-container {
  padding: var(--size-md);
}
.navbar-container > .hamburger {
  display: none;
  width: var(--size-lg);
  height: var(--size-lg);
  padding: var(--size-lg);
  font-size: xx-large;
  color: var(--color-primary);
}

@media (hover: hover) and (pointer: fine) {
  .navbar-container > .links-container > a:hover {
    color: var(--color-primary);
  }
  .navbar-container > .links-container > a:hover::before, .navbar-container > .links-container > a:hover::after {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
  .navbar-container > .hamburger:hover {
    cursor: pointer;
  }
}
@media only screen and (max-width: 1000px) {
  .navbar-container > .links-container {
    gap: var(--size-lg);
  }
}
@media only screen and (max-width: 700px) {
  .navbar-container {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .navbar-container > .logo {
    display: none;
  }
  .navbar-container > .links-container {
    display: none;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .navbar-container > .language-selector-container {
    display: none;
    align-self: flex-start;
  }
  .navbar-container > .hamburger {
    display: block;
    align-self: flex-start;
  }
  .navbar-container.expanded {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 100%;
    background-color: var(--color-black-light-2x);
  }
  .navbar-container.expanded > .links-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    gap: var(--size-lg);
  }
  .navbar-container.expanded > .links-container > a:first-child {
    display: inline-block;
  }
  .navbar-container.expanded > .language-selector-container {
    display: block;
  }
  .navbar-container.expanded > .hamburger {
    z-index: 1;
  }
}
