@import "../../Styles/_Dimensions.scss";
@import "../../Styles/_VendorPrefixes.scss";

.navbar-container {
    z-index: 100;
    position: absolute;
    width: 100%;
    min-height: var(--size-xx-lg);
    display: flex;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-content(center);
    @include align-items(center);
    background-color: transparent;

    > .logo {
        padding: var(--size-md);
        width: var(--size-xx-lg);
        height: var(--size-xx-lg);

        > svg {
            width: inherit;
            height: inherit;
        }
    }

    > .links-container {
        display: flex;
        @include flex-direction(row);
        gap: var(--size-x-lg);
        text-shadow: 0.02em 0 var(--color-black), 0 0.02em var(--color-black);

        > a {
            $COLOR_BEFORE_AFTER: var(--color-primary);
            $COLOR_BEFORE_AFTER_DARK: var(--color-primary-dark);
            position: relative;
            padding: var(--size-s);
            white-space: nowrap;

            &:first-child {
                display: none;
            }

            &::before,
            &::after {
                content: '';
                height: var(--size-md);
                width: var(--size-md);
                position: absolute;
                @include transition(all .35s ease);
                opacity: 0;
            }

            &::before {
                content: '';
                right: 0;
                top: 0;
                border-top: 3px solid $COLOR_BEFORE_AFTER;
                border-right: 3px solid $COLOR_BEFORE_AFTER_DARK;
                @include transform(translate(-100%, 50%));
            }

            &::after {
                content: '';
                left: 0;
                bottom: 0;
                border-bottom: 3px solid $COLOR_BEFORE_AFTER_DARK;
                border-left: 3px solid $COLOR_BEFORE_AFTER;
                @include transform(translate(100%, -50%));
            }
        }
    }

    > .language-selector-container {
        padding: var(--size-md);
    }

    > .hamburger {
        display: none;
        width: var(--size-lg);
        height: var(--size-lg);
        padding: var(--size-lg);
        font-size: xx-large;
        color: var(--color-primary);
    }
}

@media(hover: hover) and (pointer: fine) {
    .navbar-container {
        > .logo {

            > svg {
            }
        }

        > .links-container {

            > a {
                &:hover {
                    color: var(--color-primary);

                    &::before,
                    &::after {
                        @include transform(translate(0,0));
                        opacity: 1;
                    }
                }
            }
        }

        > .language-selector-container {
        }

        > .hamburger {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: map-get($dimensions, 'tablet')) {
    .navbar-container {

        > .logo {
        }

        > .links-container {
            gap: var(--size-lg);
        }

        > .language-selector-container {
        }
    }
}

@media only screen and (max-width: map-get($dimensions, 'phone')) {
    .navbar-container {
        @include justify-content(flex-end);

        > .logo {
            display: none;
        }

        > .links-container {
            display: none;
            @include flex-direction(column);
        }

        > .language-selector-container {
            display: none;
            align-self: flex-start;
        }

        > .hamburger {
            display: block;
            align-self: flex-start;
        }

        &.expanded {
            @include justify-content(space-between);
            height: 100%;
            background-color: var(--color-black-light-2x);

            > .links-container {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                display: flex;
                @include align-content(center);
                @include justify-content(center);
                @include align-items(center);
                gap: var(--size-lg);

                > a:first-child {
                    display: inline-block;
                }
            }

            > .language-selector-container {
                display: block;
            }

            > .hamburger {
                z-index: 100;
            }
        }
    }
}