<div class="polaroid-container">

    <i class="fa-solid fa-expand expand-button" @onclick="() => FullImagePopup?.ShowPopup()"/>

    <img src="@_image.Url" alt="@_image.Alt" />

    @if(Footer is not null)
    {
        <div class="footer">
            @Footer
        </div>
    }

</div>

<Popup @ref="FullImagePopup">
    <Content>
        <img src="@_image.Url" alt="@_image.Alt" @onclick="FullImagePopup.HidePopup"/>
    </Content>
</Popup>