@if(PopupManager is not null && PopupManager.Count > 0)
{
    <div class="popup-container">
        @foreach (RenderFragment fragment in PopupManager)
        {
            <div class="popup" style="z-index: @(1001 + PopupManager.IndexOf(fragment));">
                @fragment
            </div>
        }
    </div>
}