@if(Popups is not null and Popups.Count > 0)
{
    <div class="popup-container">
        @foreach (RenderFragment fragment in PopupManager.Popups)
        {
            <div class="popup" style="z-index: @(101 + PopupManager.Popups.IndexOf(fragment));">
                @fragment
            </div>
        }
    </div>
}