.select-container {
  position: relative;
}
.select-container > .select:hover {
  background-color: var(--color-black-light);
  cursor: pointer;
}
.select-container > .options-container {
  position: absolute;
  display: none;
  z-index: 1;
  height: 0;
}
.select-container > .options-container > .option {
  background-color: var(--color-black-light);
}
.select-container > .options-container > .option:hover {
  cursor: pointer;
  background-color: var(--color-black-light-2x);
}
.select-container.expanded {
  background-color: var(--color-black-light);
}
.select-container.expanded > .options-container {
  height: initial;
  display: block;
}
