@typeparam TOption

<div class="select-container@(CssClass)" style="width: @Width;">

    <div class="select" @onclick="OnSelectClick">
        @SelectedOptionTemplate(SelectedOption)
    </div>

    <div class="options-container @(IsExpanded ? "expanded" : null)">
        @foreach (TOption option in Options)
        {
            <div class="option" @onclick="async () => await OnOptionClick(option)">
                @OptionTemplate(option)
            </div>
        }
    </div>

</div>