@typeparam TOption

<div class="@CssClass">

    <div class="select" @onclick="OnSelectClick">
        @SelectedOptionTemplate(SelectedOption)
    </div>

    <div class="options-container">
        @foreach (TOption option in Options)
        {
            <div class="option" @onclick="async () => await OnOptionClick(option)">
                @OptionTemplate(option)
            </div>
        }
    </div>

</div>