@import "../../Styles/_Dimensions.scss";

.select-container {
    position: relative;

    > .select {

        &:hover {
            background-color: var(--color-black-light);
            cursor: pointer;
        }
    }

    > .options-container {
        position: absolute;
        display: none;
        z-index: 1;
        height: 0;

        > .option {
            background-color: var(--color-black-light);

            &:hover {
                cursor: pointer;
                background-color: var(--color-black-light-2x);
            }
        }
    }

    &.expanded {
        background-color: var(--color-black-light);

        > .options-container {
            height: initial;
            display: block;
        }
    }
}

@media (max-width: map-get($dimensions, 'phone')) {
    .select-container {

        > .select {

            &:hover {
                background-color: unset;
            }
        }

        > .options-container {

            > .option {

                &:hover {
                    background-color: unset;
                }
            }
        }
    }
}