<PageTitle>@Interpreter["UnderConstructionTitle", Name]</PageTitle>

<div class="under-construction-container">

    <div class="message-container">
        <img class="background-image" src="@BackgroundImage.Url" alt="@BackgroundImage.Alt" />

        <div class="head">
            <i class="icon fa-solid fa-person-digging"/>
            <h2 class="title">@Interpreter["UnderConstructionTitle", Name]</h2>
        </div>
    </div>
    
</div>